.header {
  height: 80px;

  .header-bottom {
    .header-bottom-left {
      &::after {
        content: '';
        position: absolute;
        border: 20px solid transparent;
        border-top: 20px solid #f90;
        animation: 1s linear bounce infinite;
        z-index: 6;
      }
    }

    .header-bottom-right {

      img {
        margin: 0 15px;
        width: 30px;
      }
    }

  }
}

@keyframes bounce{
  0%{
    transform: 0
  }
  50%{
    transform: translateY(10px)
  }
  100%{
    transform: 0
  }
}